@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

.swiper-slide{
    height: auto !important;
}
.swiper{
    padding: 1.5rem !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}